
.heading {
    color: #4A5568;
}

.label {
    color: #718096;
    font-style: italic;
    font-weight: bold;
}

.chakra-container,
.margin-top {
    margin-top: 15px;
}

.content {
    min-height: calc(100vh - 180px);
    width: 100% !important;
    max-width: 100% !important;
}

.itemShowContent div,
.itemRecipes,
.itemRecipe,
.recipeIngredient,
.recipeResult,
.pdt10 {
    padding-top: 10px;
}

.itemShowLabel {
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
}

.itemRecipe {
    cursor: pointer;
}
